@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");

:root {
  --font-body: "Inter", sans-serif;
  --font-display: "Lexend Deca", sans-serif;
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --font-size: 0.9357rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: 100%;
  background-color: var(--very-dark-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

main {
  width: 90%;
  background-color: var(--dark-blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 2rem auto;
  border-radius: 1rem;
}

@media (min-width: 45rem) {
  main {
    flex-direction: row;
    width: 80%;
  }
}

.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.content h1 {
  font-family: var(--font-display);
  font-size: 2.5rem;
  font-weight: 700;
}
.content h1 span {
  color: var(--soft-violet);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: var(--font-size);
  line-height: 1.5;
  margin-top: 1rem;
  padding: 0.5rem 0.2rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--soft-violet);
}
.wrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  mix-blend-mode: multiply;
}

.content ol {
  list-style: none;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  font-size: 1.3rem;
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
}

.stat span {
  display: block;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: var(--font-size);
  font-weight: normal;
}

.wrapper {
  grid-area: wrapper;
  background-color: var(--soft-violet);
  overflow: hidden;
}

.wrapper img {
  display: block;
  max-width: 100%;
  mix-blend-mode: multiply;
}

.attribution {
  margin-top: 4rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.attribution a {
  text-decoration: none;
  color: hsla(277, 64%, 61%, 0.8);
}
